

<form method="post" asp-action="Create" enctype="multipart/form-data">
     <input type="file" name="upload" accept="image/png, image/gif, image/jpeg" multiple="multiple" />
     <input type="text" name="newsName" />
     <input type="text" name="newsDescription" />
     <input type="text" name="picName" />

    <div>
        <input type="submit" value="Сохранить"/>
    </div>

</form>