@model Managers


    <form asp-action="Edit" asp-controller="Managers" method="post">
        <input asp-for="Name" />
        <input asp-for="Description" />
        <input type="submit" value="ok" />
    </form>
